{% set xz_settings = salt['grains.filter_by']({
  'Arch': {
    'xz_pkgs': [
      'xz',
    ]
  },
  'Debian': {
    'xz_pkgs': [
      'xz-utils',
      'xzdec'
    ]
  },
}, merge=salt['pillar.get']('latex:lookup')) %}
