{% set vim = salt['grains.filter_by']({
    'Arch': {
        'pkg': 'vim',
        'nvim_pkg': 'nvim',
    },
    'Debian': {
        'pkg': 'vim',
        'nvim_pkg': 'neovim',
    },
    'RedHat': {
        'pkg': 'vim-enhanced',
        'nvim_pkg': 'nvim',
    },
    'Suse': {
        'pkg': 'vim',
        'nvim_pkg': 'nvim',
    },
    'FreeBSD': {
        'pkg': 'vim',
        'nvim_pkg': 'nvim',
        },
    'Gentoo': {
        'pkg': 'app-editors/vim',
        'nvim_pkg': 'nvim',
    },
}, merge=salt['pillar.get']('vim:lookup')) %}
