{% set nvim = salt['grains.filter_by']({
    'Arch': {
        'pkg': 'neovim',
        'share_dir': '/usr/share/nvim/nvimfiles',
        'group': 'root',
        'config_root': '/etc',
    },
    'Debian': {
        'pkg': 'neovim',
        'share_dir': '/usr/share/nvim/nvimfiles',
        'group': 'root',
        'config_root': '/etc/nvim',
    },
    'FreeBSD': {
        'pkg': 'neovim',
        'share_dir': '/usr/local/share/nvim/nvimfiles',
        'group': 'wheel',
        'config_root': '/etc',
        },
    'Gentoo': {
        'pkg': 'app-editors/nvim',
        'share_dir': '/usr/share/nvim/nvimfiles',
        'group': 'wheel',
        'config_root': '/etc',
    },
}, merge=salt['pillar.get']('nvim:lookup')) %}
